.backtorule-add-r1 {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 32px 30px 41px;
    margin: 10px 0
}

.backtorule-add .form {
    display: flex
}

.backtorule-add li {
    flex: 1
}

.backtorule-add-r1c1 {
    border-right: 1px solid #e5e5e5;
    padding-right: 50px;
    height: 77px;
    padding-top: 8px;
    flex: 1
}

.backtorule-add-r1c1 li:first-child {
    margin-right: 44px
}

.backtorule-add-r1c2 {
    padding-left: 40px;
    padding-top: 8px;
    flex: 1
}

.backtorule-add-r1c2 li:first-child {
    width: 254px
}

.backtorule-add-r2 {
    background: #fff;
    padding: 42px 32px;
    margin-bottom: 10px;
}

.backtorule-add-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.backtorule-add-title h2 {
    font-size: 18px;
    color: #2f3033;
    margin-right: 34px
}

.backtorule-add-title .radio {
    margin-left: 24px
}

.backtorule-add-title span {
    font-size: 13px
}

.backtorule-add-input1 {
    width: 50px;
    margin: 0 10px
}

.backtorule-add-input2 {
    width: 250px;
    margin-right: 27px
}

.backtorule-add .table {
    margin-bottom: 50px
}

.backtorule-table th {
    text-align: left;
    padding-left: 170px
}

.backtorule-table td {
    padding-left: 170px;
    text-align: left
}

.backtorule-table tr:first-child td {
    padding-top: 20px;
    height: 80px
}

.backtorule-add-btn {
    text-align: right
}

.backtorule-add-btn>a {
    margin-left: 36px
}

.backtorule-add .card-del {
    margin-top: 0
}