.pie {
    height: 253px;
    flex: 1;
    margin-top: 80px
}

.line-bar {
    height: 350px;
    width: 670px
}

.bar {
    height: 350px;
    width: 100%
}

.circle {
    height: 276px;
    flex: 1
}

.chart {
    border: 1px dashed #d4d4d4;
    padding: 30px;
    margin-bottom: 35px
}

.chart:last-child {
    margin-bottom: 0
}

.chart-icon1 {
    width: 27px;
    height: 31px;
    background: url(../img/chart-icon1.svg) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px
}

.chart-icon2 {
    width: 28px;
    height: 38px;
    background: url(../img/chart-icon2.svg) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px
}

.chart-icon3 {
    width: 31px;
    height: 27px;
    background: url(../img/chart-icon3.svg) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px
}

.chart .progress {
    margin-left: 30px
}

.chart-progress {
    padding: 31px 44px;
    margin-bottom: 19px
}

.chart-progress-border {
    border: 1px solid #d4d4d4
}

.chart-progress li {
    margin-bottom: 20px
}

.chart-progress li:last-child {
    margin-bottom: 0
}

.chart-sort {
    display: flex;
    margin-bottom: 36px
}

.chart-sort div {
    flex: 1;
    text-align: center
}

.chart-sort-icon {
    width: 12px;
    height: 14px;
    background: url(../img/chart-sort-icon.svg) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.chart-progress-header {
    margin-bottom: 46px
}

.chart-progress-3col .progress {
    width: 180px
}

.chart-toggle {
    text-align: center
}

.chart-toggle-icon {
    width: 12px;
    height: 15px;
    background: url(../img/chart-toggle.svg) no-repeat;
    display: inline-block;
    vertical-align: -2px;
    margin-left: 10px
}

.chart-toggle.active .chart-toggle-icon {
    transform: rotate(180deg)
}