.input {
    height: 46px;
    line-height: 46px;
    border: 1px solid #e5e5e5;
    width: 100%;
    font-size: 14px;
    padding: 0 15px
}

.input-small {
    height: 30px;
    line-height: 30px
}

.input:disabled {
    background: #f7f9fb;
    cursor: not-allowed;
    color: #999
}

.input:focus {
    border-color: #158fe4;
    color: #158fe4
}

.input.error {
    border-color: #f52d2d
}

.input-date {
    position: relative
}

.input-date-icon {
    background: url(../img/input-date.png) no-repeat right center;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translate(0, -50%);
    width: 13px;
    height: 11px
}

.input-date2 {
    position: relative;
    display: inline-block;
    width: 250px
}

.input-date2 .input {
    height: 37px;
    vertical-align: middle;
    text-align: center
}

.input-date2-prev,
.input-date2-next {
    width: 9px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.input-date2-prev {
    left: 13px;
    background: url(../img/input-date2-prev.svg) no-repeat
}

.input-date2-next {
    right: 13px;
    background: url(../img/input-date2-next.svg) no-repeat
}

.input-number .input {
    width: 76px;
    margin: 5px 0
}

.input-number a {
    font-size: 20px
}

.input-search {
    position: relative
}

.input-search-icon {
    background: url(../img/input-search.png) no-repeat;
    position: absolute;
    right: 11px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 18px;
    height: 18px
}

.textarea {
    vertical-align: middle;
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 150px;
    margin-top: 9px;
    resize: none;
    padding: 5px 15px;
    font-size: 14px
}

.select {
    width: 100%;
    height: 38px;
    border: 1px solid #e5e5e5;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: 0 15px;
    background: url(../img/select.png) no-repeat right 16px center;
    font-size: 14px
}

.select-small {
    height: 30px
}

.select:focus {
    outline: 0
}

.select:disabled {
    background-color: #f7f9fb;
    cursor: not-allowed;
    color: #999
}

.select-input {
    display: flex
}

.select-input .select {
    width: 90px;
    margin-right: -1px;
    padding: 0 6px;
    background-position: right 4px center;
    font-size: 12px
}

.radio {
    color: #7b7b7b;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    padding-left: 23px
}

.radio:before {
    content: '';
    float: left;
    margin-left: -23px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #999;
    background-color: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.radio.active:before {
    border: 2px solid #158fe4;
    box-shadow: inset 0 0 0 3px #fff;
    background: #158fe4
}

.radio.disabled {
    color: #a2a8b4;
    cursor: not-allowed
}

.radio input {
    position: absolute;
    clip: rect(0, 0, 0, 0)
}

.radio-group-title {
    display: block;
    margin-bottom: 15px
}

.radio-group .radio {
    margin-right: 28px
}

.radio-group .radio:last-child {
    margin-right: 0
}

.radio-button {
    display: flex;
    align-items: center
}

.radio-button a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e5e5e5;
    margin-right: -1px;
    color: #333
}

.radio-button a.active {
    background: #ccc
}

.radio-button .select {
    flex: 1
}

.checkbox {
    position: relative;
    cursor: pointer;
    display: inline-block
}

.checkbox:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 1px solid #a9a9a9;
    background-color: #fff;
    position: relative;
    margin-right: 5px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.checkbox:after {
    content: '';
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 0;
    opacity: 0;
    background: url(../img/checkbox.svg) no-repeat;
    position: absolute;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    background-repeat: no-repeat
}

.checkbox.active:after {
    opacity: 1
}

.checkbox.active:before {
    opacity: 0
}

.checkbox.disabled {
    color: #a2a8b4;
    cursor: not-allowed
}

.checkbox-block {
    display: block;
    margin-bottom: 37px
}

.checkbox input {
    position: absolute;
    clip: rect(0, 0, 0, 0)
}

.checkbox-group .checkbox {
    margin-right: 32px;
    margin-top: 30px
}

.checkbox-group-title {
    margin-bottom: 14px
}

.checkbox-group-title .radio-group {
    margin-left: 37px
}

.checkbox-group-border {
    border: 1px solid #ccc;
    padding: 23px 37px;
    margin-bottom: 65px
}

.checkbox-group-border .checkbox {
    margin-top: 0;
    margin-right: 0
}

.checkbox-group-between {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between
}

.checkbox-group-between:last-child {
    margin-bottom: 0
}

.checkbox-group-equal {
    display: flex;
    margin-bottom: 12px
}

.checkbox-group-equal:last-child {
    margin-bottom: 0
}

.checkbox-group-equal .checkbox {
    flex: 1;
    margin-top: 0
}

.form-require {
    color: #f52d2d
}

.form label {
    font-size: 14px;
    color: #666
}

.form .input,
.form .select {
    margin-top: 9px;
    margin-bottom: 9px
}

.form li {
    position: relative
}

.form-switch {
    width: 27px;
    height: 27px;
    background: url(../img/form-switch.svg) no-repeat;
    position: absolute;
    right: -32px;
    top: 30px
}

.form-label {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    z-index: 1;
    color: #999
}