.home ul {
    display: flex;
    flex-flow: wrap;
    margin-left: 42px;
    justify-content: space-between
}

.home li {
    text-align: center;
    margin-bottom: 70px
}

.home img {
    width: 297px;
    height: 210px;
    margin-bottom: 27px;
    vertical-align: middle
}

.home h2 {
    font-size: 13px;
    color: #999;
    margin: 53px 0 18px 43px
}

.home h3 a {
    font-size: 16px;
    color: #333
}

.home p {
    font-size: 14px;
    color: #666
}