.layout-center {
    width: 1200px;
    margin: 0 auto
}

.layout-r1 .layout-center,
.layout-r2 .layout-center {
    display: flex
}

.layout-r1c1,
.layout-r2c1 {
    width: 201px;
    background: #158fe4;
    position: absolute;
    z-index: 1;
    height: 100%;
}

.layout-r1c2 {
    flex: 1
}

.layout-r2c2 {
    width: 899px;
    margin-right: 11px
}

.layout-r2c3 {
    width: 290px
}