.menu {
    background: #fff
}

.menu .layout-center {
    display: flex;
    align-items: center;
    height: 66px;
    position: relative
}

.menu-list {
    overflow: hidden;
    flex: 1
}

.menu ul {
    display: flex;
    position: relative;
    overflow-x: auto
}

.menu li {
    flex-shrink: 0;
    margin: 0 10px;
    border: 1px solid #caced7;
    border-radius: 18px;
    font-size: 14px
}

.menu li a {
    display: flex;
    align-items: center;
    height: 36px;
    line-height: 36px;
    padding: 0 28px;
    color: #a2a8b4
}

.menu-switch {
    background: url(../img/menu-switch.svg) no-repeat;
    width: 28px;
    height: 19px;
    margin-right: 63px
}

.menu-prev {
    background: url(../img/menu-prev.svg) no-repeat;
    width: 10px;
    height: 18px;
    margin-right: 17px;
    cursor: not-allowed
}

.menu-next {
    background: url(../img/menu-next.svg) no-repeat;
    width: 10px;
    height: 18px;
    margin-left: 17px;
    cursor: not-allowed
}

.menu-prev.active {
    background-image: url(../img/menu-prev-active.svg);
    cursor: pointer
}

.menu-next.active {
    background-image: url(../img/menu-next-active.svg);
    cursor: pointer
}

.menu-close {
    background: url(../img/menu-close.svg) no-repeat;
    width: 22px;
    height: 22px;
    margin-left: 17px;
    margin-right: -22px
}

.menu-mask {
    position: absolute;
    width: 100px;
    height: 100%;
    background: linear-gradient(left, rgba(255, 255, 255, .001), #fff);
    right: 10px;
    top: 0
}

.menu li.active {
    background: #158fe4;
    border-color: #158fe4
}

.menu li.active a {
    color: #fff
}

.menu li.active .menu-close {
    background-image: url(../img/menu-close-active.svg)
}