.plane {
    display: flex;
    justify-content: space-between;
    margin-top: -46px
}

.plane-thumb {
    height: 357px;
    width: 232px;
    background: url(../img/plane-thumb.png) no-repeat center;
    position: relative;
    margin-top: 353px
}

.plane-mask {
    width: 68px;
    height: 86px;
    background-color: rgba(21, 143, 228, .102);
    background: #e7f4fc;
    border: 1px solid ##158fe4;
    border-radius: 2px;
    position: absolute;
    left: 80px;
    top: 80px;
    opacity: .5
}

.plane-seat {
    width: 585px;
    height: 2260px;
    background: url(../img/plane-seat.png) no-repeat center top;
    padding: 163px 70px
}

.plane-seat>div {
    position: relative
}

.plane-seat-row {
    display: flex;
    justify-content: space-between;
    position: relative
}

.plane-seat-row>div {
    display: flex
}

.plane-seat-normal,
.plane-seat-disabled,
.plane-seat-primary,
.plane-seat-premium,
.plane-seat-orange {
    width: 52px;
    height: 39px;
    margin: 0 7px 23px;
    position: relative;
    background-size: cover
}

.plane-seat-normal {
    background-image: url(../img/plane-seat-normal.svg)
}

.plane-seat-primary {
    background-image: url(../img/plane-seat-primary.svg)
}

.plane-seat-disabled {
    cursor: not-allowed;
    background-image: url(../img/plane-seat-disabled.svg)
}

.plane-seat-premium {
    background-image: url(../img/plane-seat-premium.svg)
}

.plane-seat-orange {
    background-image: url(../img/plane-seat-orange.svg)
}

.plane-seat-people {
    background: url(../img/plane-seat-people.svg) no-repeat;
    background-size: cover;
    width: 13px;
    height: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 6px
}

.plane-seat-del {
    background: url(../img/plane-seat-del.svg) no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 7px
}

.plane-seat .text-gray {
    position: absolute;
    width: 1em;
    top: 81px;
    margin-left: -40px
}

.plane-setting {
    margin-top: 192px
}

.plane-setting-primary,
.plane-setting-normal,
.plane-setting-danger {
    width: 209px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    padding: 0 16px;
    margin-bottom: 22px;
    display: flex;
    align-items: center
}

.plane-setting-primary {
    border: 1px solid #158fe4;
    color: #158fe4
}

.plane-setting-danger {
    border: 1px solid #f52d2d;
    color: #f52d2d
}

.plane-setting-normal {
    border: 1px solid #e9e9e9;
    color: #646464
}

.plane-setting3,
.plane-setting4,
.plane-setting5 {
    width: 24px;
    height: 18px;
    margin-right: 21px
}

.plane-setting1 {
    background: url(../img/plane-setting1.svg) no-repeat;
    width: 9px;
    height: 14px;
    margin-right: 28px;
    margin-left: 6px
}

.plane-setting2 {
    background: url(../img/plane-setting2.svg) no-repeat;
    width: 18px;
    height: 14px;
    margin-right: 23px;
    margin-left: 3px
}

.plane-setting3 {
    background: url(../img/plane-setting3.svg) no-repeat
}

.plane-setting4 {
    background: url(../img/plane-setting4.svg) no-repeat
}

.plane-setting5 {
    background: url(../img/plane-setting5.svg) no-repeat
}

.plane-info {
    margin-top: 38px
}

.plane-info {
    width: 268px;
    height: 502px;
    overflow-y: auto;
    border: 1px dashed #e9e9e9;
    padding: 20px
}

.plane-info li {
    display: flex;
    align-items: center;
    width: 210px;
    height: 40px;
    border: 1px solid #e9e9e9;
    margin-bottom: 19px;
    padding: 0 13px
}

.plane-info li:last-child {
    margin-bottom: 0
}

.plane-info1,
.plane-info2,
.plane-info3,
.plane-info4,
.plane-info5,
.plane-info6 {
    width: 24px;
    height: 18px;
    margin-right: 17px
}

.plane-info1 {
    background: url(../img/plane-info1.svg) no-repeat
}

.plane-info2 {
    background: url(../img/plane-info2.svg) no-repeat
}

.plane-info3 {
    background: url(../img/plane-info3.svg) no-repeat
}

.plane-info4 {
    background: url(../img/plane-info4.svg) no-repeat
}

.plane-info5 {
    background: url(../img/plane-info5.svg) no-repeat
}

.plane-info6 {
    background: url(../img/plane-info6.svg) no-repeat
}

.plane-seat-no {
    width: 52px;
    text-align: center;
    margin: 0 7px 14px
}

.plane-seat-index {
    position: absolute;
    margin-left: -16px;
    margin-top: 10px
}

.plane-seat-index2 {
    position: absolute;
    right: -16px;
    top: 5px
}

.plane-seat-first {
    margin-bottom: 12px
}

.plane-seat-business {
    margin-bottom: 15px
}

.plane-seat-economy .plane-seat-normal,
.plane-seat-economy .plane-seat-disabled,
.plane-seat-economy .plane-seat-primary,
.plane-seat-economy .plane-seat-premium,
.plane-seat-economy .plane-seat-orange {
    width: 38px;
    height: 29px;
    margin: 0 4px 20px
}

.plane-seat-economy .plane-seat-del {
    width: 10px;
    height: 10px;
    top: 5px
}

.plane-seat-economy .plane-seat-people {
    width: 10px;
    height: 11px;
    top: 4px
}

.plane-seat-economy .plane-seat-no {
    width: 38px;
    margin: 0 4px 11px
}

.plane-seat-economy .plane-seat-index {
    margin-top: 5px
}

.plane-footer {
    padding: 30px 0;
    text-align: center;
    border-top: 1px solid #e6e6e6;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1
}