.progress {
    width: 120px;
    background: #ebedef;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    height: 6px;
    text-align: left;
    position: relative;
    margin-right: 18px
}

.progress-inner {
    height: 6px;
    border-radius: 3px;
    background: #158fe4;
    position: absolute;
    left: 0;
    top: 0
}

.progress-num {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%)
}

.progress-big {
    width: 360px;
    height: 22px;
    border-radius: 11px
}

.progress-big .progress-inner {
    height: 22px;
    border-radius: 11px
}