.sidebar {
    background: #158fe4;
    position: relative;
}

.sidebar::before {
    content: '';
    border-color: transparent transparent #158fe4 transparent;
    border-style: solid;
    border-width: 6px;
    position: absolute;
    top: -12px;
    left: 12px;
}

.sidebar-parent>a {
    height: 70px;
    line-height: 70px;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: relative
}

.sidebar-list {
    background: #1486db;
    display: none
}

.sidebar-list a {
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 50px;
    padding-left: 58px
}

.sidebar-list li:hover {
    background: rgba(0, 0, 0, .06)
}

.sidebar-arrow {
    position: absolute;
    right: 22px;
    top: 50%;
    margin-top: -6px;
    width: 7px;
    height: 12px;
    background: url(../img/sidebar-arrow.svg) no-repeat;
    transition: all .2s linear
}

.sidebar-icon1 {
    width: 21px;
    height: 21px;
    background: url(../img/sidebar-icon1.svg) no-repeat;
    margin-left: 30px;
    margin-right: 9px
}

.sidebar-icon1 {
    width: 21px;
    height: 21px;
    background: url(../img/sidebar-icon1.svg) no-repeat;
    margin-left: 30px;
    margin-right: 9px
}

.sidebar-icon1 {
    width: 21px;
    height: 21px;
    background: url(../img/sidebar-icon1.svg) no-repeat;
    margin-left: 30px;
    margin-right: 9px
}

.sidebar-icon2 {
    width: 20px;
    height: 21px;
    background: url(../img/sidebar-icon2.svg) no-repeat;
    margin-left: 29px;
    margin-right: 10px
}

.sidebar-icon3 {
    width: 18px;
    height: 19px;
    background: url(../img/sidebar-icon3.svg) no-repeat;
    margin-left: 30px;
    margin-right: 12px
}

.sidebar-icon4 {
    width: 20px;
    height: 17px;
    background: url(../img/sidebar-icon4.svg) no-repeat;
    margin-left: 30px;
    margin-right: 9px
}

.sidebar-icon5 {
    width: 19px;
    height: 19px;
    background: url(../img/sidebar-icon5.svg) no-repeat;
    margin-left: 30px;
    margin-right: 10px
}

.sidebar-parent.active .sidebar-list {
    display: block;
}

.sidebar-parent.active .sidebar-arrow {
    transform: rotate(90deg)
}