.text-danger {
    color: red
}

.text-price {
    color: #f99a29
}

.text-gray {
    color: #999
}

.text-dark {
    color: #666
}

.text-success {
    color: #158fe4;
}

.text-small {
    font-size: 12px
}

.text-normal {
    font-size: 14px
}

.text-big {
    font-size: 16px
}

.text-bigger {
    font-size: 18px
}

.text-biggest {
    font-size: 20px
}

.text-large {
    font-size: 24px
}

.text-larger {
    font-size: 26px
}