.tree-parent {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer
}

.tree-arrow {
    width: 12px;
    height: 9px;
    background: url(../img/tree-arrow.svg) no-repeat;
    position: absolute;
    left: 54px;
    top: 5px
}

.tree>ul>li {
    margin-bottom: 15px
}

.tree li ul {
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    display: none
}

.tree li ul:before {
    content: '';
    width: 1px;
    height: 100%;
    border-left: 1px dashed #a5a5a5;
    position: absolute;
    top: -14px
}

.tree li li {
    display: flex;
    justify-content: space-between;
    line-height: 30px
}

.tree-line {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 1px;
    border-bottom: 1px dashed #a5a5a5;
    margin-right: 4px
}

.tree li.active .tree-arrow {
    transform: rotate(180deg)
}

.tree li.active ul {
    display: block
}